<div class="row d-flex">
    <div class="col-4 p-2" *ngFor="let asset of assetChild">
        <div class="card p-2 shadow">
            <div class="card-body text-center">
                <img src="./assets/asset.png" alt="avatar" class="rounded-circle img-fluid mb-3 shadow"
                    style="width: 150px" />
                <div class="d-flex flex-row-reverse">
                    <button class="" type="button" (click)="deleteAsset(asset.id)"><i class="bi bi-x-lg"></i></button>

                </div>
                <h5>{{asset.name}}</h5>
                <p>{{asset.description}}</p>
                <p>{{asset.barcode}}</p>
                <button type="update" class="btn btn-outline-success mx-1" (click)="update(asset.id)">
                    UPDATE
                </button>
            </div>
        </div>
        <!-- <a routerLink="/freelancer-detail/{{cont.id}}"></a> -->
    </div>

</div>