<div class="row p-2 d-flex justify-content-center">
    <div class="col card mb-3 shadow">
        <div class="row card-body">
            <div class="col-6">
                <div class="row">
                    <h4>{{namePage}}</h4>
                </div>
                <div class="row">
                    <div class="col">

                        <a routerLink="/user">User</a>
                        >
                        <span>Update User</span>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <button type="button" class="btn btn-outline-dark" (click)="goBack()">
                    <span>
                        Back
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col card shadow p-3" [hidden]="submitted">
        <h4 style="color: blue;">Update User Form</h4>
        <h6>Input your User detail here</h6>
        <br>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="row form-group py-1">
                <div class="col-5">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" required [(ngModel)]="modelUser.username"
                        name="username" #username="ngModel" />
                    <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                        Username is required
                    </div>
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" required [(ngModel)]="modelUser.password"
                        name="password" #password="ngModel" />
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        Password is required
                    </div>
                    <label for="role">Role</label>
                    <input type="text" maxlength="15" class="form-control" id="role" required
                        [(ngModel)]="modelUser.role" name="role" #role="ngModel" />
                    <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
                        Role is required
                    </div>
                    <div class="col-2 py-3">
                        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>