<div class="row p-2 d-flex justify-content-center">


  <div class="col card mb-3 shadow">
    <div class="row card-body">
      <div class="col-6">
        <div class="row">
          <h4>{{namePage}}</h4>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="/checkin/">Check-In</a>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-dark" routerLink="/checkin-add/">
          <span>Add New Check-In</span>
        </button>
      </div>
    </div>
  </div>

</div>


<!--<app-asset-child [assetChild]="asset"></app-asset-child>-->
<div class="row p-2 d-flex justify-content-center">
  <div class="col card mb-3 shadow">
    <div class="row card-body">
      <app-checkin-child [chekinInList]="checkins"></app-checkin-child>
    </div>
  </div>
</div>
