<div class="row d-flex">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-2" *ngFor="let warehouse of warehouseChild">
        <div class="card p-2 shadow">
            <div class="card-body text-center">
                <!-- <img src="./assets/images/photo2.jpg" alt="avatar" class="rounded-circle img-fluid mb-3 shadow"
                    style="width: 150px" /> -->
                <div class="d-flex flex-row-reverse">
                    <button class="" type="button" (click)="deleteWarehouse(warehouse.id)" data-toggle="modal"
                        data-target="#exampleModalCenter"><i class="bi bi-x-lg"></i></button>

                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo modal
                </button>
                <h5>{{warehouse.name}}</h5>
                <!-- <div class="d-flex view-contact bd-highlight">
                    <a class="text p-2 w-100 bd-highlight" routerLink="/freelancer-detail/{{freelancer.id}}">
                        VIEW PROFILE
                    </a>
                    <button class="p-2 flex-shrink-1 bd-highlight" type="button"
                        (click)="deleteFreelancer(freelancer.id)">DELETE</button>

                </div> -->


            </div>
        </div>
        <!-- <a routerLink="/freelancer-detail/{{cont.id}}"></a> -->
    </div>

</div>