<div class="row p-2 d-flex justify-content-center">
  <div class="col card mb-3 shadow">
    <div class="row card-body">
      <div class="col-6">
        <div class="row">
          <h4>{{namePage}}</h4>
        </div>
        <div class="row">
          <div class="col">

            <a routerLink="/checkout">Check-Out</a>
            >
            <span>Add new</span>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-dark" (click)="goBack()">
                    <span>
                        Back
                    </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row p-2">
  <div class="col card shadow p-3" [hidden]="submitted">
    <h4 style="color: blue;">New Check-Out Form</h4>
    <h6>Input your Check-Out detail here</h6>
    <br>
    <form (ngSubmit)="onSubmit()" #checkoutForm="ngForm">
      <div class="row form-group py-1">
        <div class="col-5">
          <label for="asset_id">Asset</label>
          <select id="asset_id" class="form-control" required [(ngModel)]="modelCheckout.asset_id" name="asset_id" #asset_id="ngModel">
            <option *ngFor="let asset of assets" [value]="asset.id" >{{asset.name}}</option>
          </select>
          <div [hidden]="asset_id.valid || asset_id.pristine" class="alert alert-danger">
            Asset is required
          </div>
        </div>
        <div class="col-5">
          <label for="warehouse_id">Warehouse</label>
          <select id="warehouse_id" class="form-control" required [(ngModel)]="modelCheckout.warehouse_id" name="warehouse_id" #warehouse_id="ngModel">
            <option *ngFor="let warehouse of warehouses" [value]="warehouse.id" >{{warehouse.name}}</option>
          </select>
          <div [hidden]="warehouse_id.valid || warehouse_id.pristine" class="alert alert-danger">
            Warehouse is required
          </div>
        </div>
      </div>
      <div class="row form-group py-1">
        <div class="col-5">
          <label for="jumlah">Jumlah</label>
          <input type="text" maxlength="8" (keypress)="validateNo($event)" class="form-control" id="jumlah" required [(ngModel)]="modelCheckout.jumlah" name="jumlah" #jumlah="ngModel"/>
          <div [hidden]="jumlah.valid || jumlah.pristine" class="alert alert-danger">
            Jumlah is required
          </div>
          <div class="col-2 py-3" >
            <button type="submit" class="btn btn-success" [disabled]="!checkoutForm.form.valid || modelCheckout.jumlah < 1">
              Submit
            </button>
          </div>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>
